@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

* {
  font-family: "Work Sans", sans-serif;
}
.formcontainer {
  margin: 0 auto;
  text-align: center;
  padding-left: 8rem;
}
body {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(45deg, #8d3d9f, #612272);
}

form {
  margin: 0;
}

label {
  color: #fff;
  font-size: 35px;
  text-align: left;
  margin: 3rem 0 3rem 0;
}
input {
  text-align: center;
  margin: 3rem 0 3rem 3rem;
  min-height: 40px;
  padding: 1rem;
  min-width: 35%;
  font-size: 1.7rem;
  border-radius: 10px;
  border: 2px solid #ff36ab;
}

input::placeholder {
  color: #db63c7;
  opacity: 0.5;
}

.bigtext {
  font-family: "Jockey One", sans-serif !important;
  margin: 2rem 0 0 0;
  font-size: 100px;
  font-weight: 300;
  color: #f7a6ea;
}

.heading-container {
  background: linear-gradient(45deg, #822175, #520568);
  margin: 0 3rem 2rem 3rem;
  text-align: center;
}

.submit-button {
  height: 5.5rem;
  width: 12rem;
  background-color: #ff36ab;
  color: #fff;
  border-radius: 20px;
  border: 1px solid #ff36ab;
  font-size: 1.7rem;
  font-weight: 500;
  transition: all 0.4s ease;
  margin-left: -8rem;
  box-shadow: 5px 5px #f7a6ea;
}

.submit-button:hover {
  background-color: #fe70bc;
  border: 1px solid #fe70bc;
  transition: all 0.4s ease;
  box-shadow: 5px 5px #f7a6ea;
}

.submit-button:active {
  background-color: greenyellow;
  border: 2px solid greenyellow;
  transition: all 0.2s ease;
}
